<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>GIN-TODO</title>
</head>

<body>
    <h1>削除確認</h1>
    <p>本当に削除しますか？</p>
    <ul>
        <li>内容： {{.todo.Text}}</li>
        <li>状態： {{.todo.Status}}</li>
        <li>作成時間： {{.todo.CreatedAt}}</li>
    </ul>

    <form method="post" action="/delete/{{.todo.ID}}">
        <p><input type="submit" value="削除"></p>
        <p><a href="/">戻る</a></p>
    </form>
</body>